
#mainContent {
   /* background-image: url("/Assets/Images/bk.jpg"); */
    background-color: #cccccc; 
    height: 98%;
  /*  background-position: center; */
  /*  background-repeat: no-repeat;  */
   /* background-size: cover; */
    margin: 50px;
}

#timer {
    align-content: center;
    color: darkmagenta;
    text-align: center;
    border: 15px;
    border-style: inset;
    border-color: red;
    width: 150px;
    margin-left: 42%;
    
}

p {
    color: red;
    font-size: 25px;
}

q {
    border: 1px;
    border-color: blue;
}

.questionsMain {
    text-align: center;
    align-content: center;
    color: darkblue;
    font-family: cursive;
}

p {
    color: blue;
     
}

header {
    font-family: fantasy;
    text-align: center;
    color: blue;
    font-size: 55px;
    text-shadow: 1px 1px 0 black, 
                5px 5px 0 black;
}